@media only screen and (hover: none) {
  .navigation {
    border-top-left-radius: 0.8rem;
    // transform: translateX(calc(100vw - var(--main-body-change-size))); JavaScript Animation
  }
}

.navigation {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  height: 72px;
  width: 100%;

  padding: 0 2rem;
  color: $color-grey-dark-2;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content;
  grid-column-gap: 1rem;

  align-content: center;
  align-items: center;

  &::before {
    content: '';
    display: block;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    height: 4rem;
    width: 4rem;
  }

  .twitter-link {
    line-height: 1;
    text-decoration: none;
    display: block;
    color: currentColor;
  }

  .twitter-icon {
    display: block;
    height: 2.7rem;
    width: 2.7rem;
    fill: currentColor;
  }

  &__logo {
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 900;
    color: rgb(114, 40, 40);
    letter-spacing: 2px;
    line-height: 1;
  }

  &__checkbox {
    display: none;
  }

  &__button-container {
    // transform: translateX(calc(100vw - var(--main-body-change-size))); JavaScript Animation

    display: flex;
    align-items: center;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 2rem;

    z-index: 1010;
  }

  &__button {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    justify-content: center;
    align-content: center;

    background-color: $color-c;
    height: 4rem;
    width: 4rem;

    border-radius: 0.8rem;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;
  }

  // ICON
  &__icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: $color-grey-light-1;

    height: 2rem;
    width: 2rem;

    span,
    &::before,
    &::after {
      display: block;
      height: 2px;
      background-color: currentColor;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      transition: all 0.2s ease-out;

      grid-column: 1 / -1;
    }

    &::before {
      grid-row: 1 / span 1;
      align-self: center;
    }
    &::after {
      grid-row: 3 / span 1;
      align-self: center;
    }

    span {
      grid-row: 2 / span 1;
      grid-column: 1 / -2;
      align-self: center;

      width: 100%;
    }
  }

  @include touch-detect(desktop) {
    &__button:hover &__icon::before {
      transform: translateY(-0.2rem);
    }

    &__button:hover &__icon::after {
      transform: translateY(0.2rem);
    }
  }

  &__checkbox:checked + &__button &__icon span {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    grid-row: 1 / -1;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    grid-row: 1 / -1;
    transform: rotate(-135deg);
  }

  // .checkbox-transition + &__button &__icon span,    JavaScript Animation
  // .checkbox-transition:checked + &__button &__icon span {
  //   background-color: transparent;
  // }

  // .checkbox-transition + &__button &__icon::before,
  // .checkbox-transition + &__button &__icon::after,
  // .checkbox-transition:checked + &__button &__icon::before,
  // .checkbox-transition:checked + &__button &__icon::after {
  //   grid-row: 1 / -1;
  // }
  // .checkbox-transition + &__button &__icon::before,
  // .checkbox-transition:checked + &__button &__icon::before {
  //   transform: rotate(calc(var(--f) * 135deg));
  // }
  // .checkbox-transition + &__button &__icon::after,
  // .checkbox-transition:checked + &__button &__icon::after {
  //   transform: rotate(calc(var(--f) * -135deg));
  // }

  // // Utilities
  // .button-icon-animation--1 + &__button &__icon::before,
  // .button-icon-animation--1 + &__button &__icon::after {
  //   transition: all 0.2s ease-out;
  // }
  // .button-icon-animation--2 + &__button &__icon::before,
  // .button-icon-animation--2 + &__button &__icon::after {
  //   transition: all calc((1 - var(--f)) * 0.2s) ease-out;
  // }
  // .button-icon-animation--3 + &__button &__icon::before,
  // .button-icon-animation--3 + &__button &__icon::after {
  //   transition: all calc(var(--f) * 0.2s) ease-out;
  // }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba($color-grey-light-1, 0.5);
  opacity: 0;
  z-index: 1005;
  display: none;
}
.backdrop-display {
  display: block;
}

.mobile-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 75vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.mobile-nav {
  margin-left: -2%;
  height: 99.8%;
  width: 95%;
  border-radius: 1.4rem;
  box-shadow: 0px 0px 2px rgba($color: $color-black, $alpha: 0.4);

  background-color: $color-d;
  padding: 8vw 8vw;

  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    margin-left: -6%;
    list-style: none;

    display: grid;
    grid-template-columns: min-content max-content;
    grid-auto-rows: min-content;
    justify-items: center;
    align-items: center;
    grid-row-gap: 5vw;
    grid-column-gap: 3vw;

    &::before {
      content: '';
      display: block;
      grid-row: 1 / span 3;
      grid-column: 1 / 2;
      height: 120%;
      width: 0.4vw;
      background-color: $color-c;

      margin-top: -3.2vw;
    }
  }

  li {
    width: calc(100% + 2vw);
    height: 100%;
    display: grid;
    text-align: center;

    grid-template-columns: min-content 1fr;
    grid-template-rows: max-content;
    grid-column-gap: 3vw;
    align-content: center;
    align-items: center;
    justify-items: center;

    &::before {
      content: '';
      display: block;
      width: 5vw;
      height: 5vw;
      border-radius: 50%;
      background-color: transparent;
      grid-row: 1 / -1;
      grid-column: 1 / 2;

      margin-top: -2.1vw;
      margin-left: -4.6vw;

      transition: all 0.3s;
    }
  }

  .nav-link-active::before {
    background-color: $color-b;
  }
}
// padding: 2rem 1rem 1rem 2rem;
// transition: transform 0.5s ease-out;

// .mobile-nav.open {
//   transform: translateX(0);
// }
