/* 
0 - 600px:          Phone
600 - 900px:        Tablet portrait
900 - 1200px:       Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :          Big desktop
*/
/* 
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  display: block;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  color: #fff;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.design-elements {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  z-index: -1000;
  background-color: #f7f7f7;
}
.design-elements > * {
  position: absolute;
  font-size: 1.6rem;
}
.design-elements__box--1 {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  background-color: #fecd1a;
  top: -12em;
  right: -15em;
}
.design-elements__box--1::before {
  content: "";
  display: block;
  position: absolute;
  width: 2em;
  height: 2em;
  border-radius: 0.5em;
  background-color: #fd3a69;
  top: 17em;
  left: -3.5em;
}
.design-elements__box--1::after {
  content: "";
  display: block;
  position: absolute;
  width: 2em;
  height: 2em;
  border-radius: 0.5em;
  background-color: #fd3a69;
  top: 26em;
  left: 5em;
}
.design-elements__box--2 {
  width: 10em;
  height: 10em;
  border-radius: 2em;
  background-color: #fd3a69;
  bottom: 1em;
  left: 1em;
}
.design-elements__bg-img--1 {
  background-image: url(../assets/images/header-photo-1.jpg);
  position: relative;
  display: block;
  grid-row: 4/9;
  grid-column: 1/11;
  width: 100%;
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
.design-elements__accompany--1 {
  position: absolute;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(157, 1, 145, 0.5);
  bottom: -12rem;
  right: -9rem;
  width: 75%;
  height: 75%;
  border-radius: 0.3rem;
  white-space: pre;
}
.design-elements__accompany--1::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(253, 58, 105, 0.5);
  width: 20vw;
  height: 20vw;
  top: -21rem;
  right: 25rem;
  border-radius: 50%;
}
.design-elements__accompany--1::after {
  content: ">_";
  padding: 2rem;
  display: block;
  position: absolute;
  background-color: rgba(157, 1, 145, 0.5);
  width: 40vw;
  height: 40vw;
  top: -21rem;
  right: 1.5rem;
  border-radius: 3rem;
}
.design-elements__img {
  justify-self: center;
  align-self: center;
  display: block;
  width: auto;
  height: 120vw;
  z-index: 500;
}

/* .design-element--2::after {
  content: "";
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--color-c);
  top: 9rem;
  left: 8rem;
} */
.header {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(2.5rem, 1fr) 10fr minmax(2.5rem, 1fr);
  grid-template-rows: min-content;
  align-content: center;
  z-index: 1000;
}
.header__heading {
  grid-column: 2/3;
}

/*# sourceMappingURL=style.comp.css.map */
