@media only screen and (hover: none) {
  .hero {
    border-top-left-radius: 1.4rem;
  }
}

.hero {
  grid-row: 1 / 3;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 72px 1fr;

  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  z-index: -1000;
  background-color: $color-grey-light-1;

  & > * {
    position: absolute;
    font-size: $default-font-size;
  }

  &__box {
    &--1 {
      width: 30em;
      height: 30em;
      border-radius: 50%;
      background-color: $color-d;
      top: -12em;
      right: -15em;

      &::before,
      &::after {
        content: '';
        display: block;

        position: absolute;
        width: 2em;
        height: 2em;
        border-radius: 0.5em;
        background-color: $color-c;
      }

      &::before {
        top: 17em;
        left: -3.5em;
      }

      &::after {
        top: 26em;
        left: 5em;
      }
    }

    &--2 {
      width: 10em;
      height: 10em;
      border-radius: 2em;
      background-color: $color-c;
      bottom: 1em;
      left: 1em;
    }

    &--3 {
    }
  }

  &__img {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;

    z-index: 500;

    display: grid;
    grid-template-rows: 4rem min-content 4rem;
    grid-template-columns: min-content;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
    }

    &::before {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
    }
    &::after {
      grid-row: 3 / 4;
      grid-column: 1 / -1;
    }
  }

  &__phone-bezel {
    width: auto;
    height: 120vw;

    display: block;
  }

  &__globe-icon {
    height: calc(12 * var(--unit));
    width: calc(12 * var(--unit));

    fill: currentColor;
  }

  &__business-icon {
    height: calc(50 * var(--unit));
    width: calc(50 * var(--unit));

    fill: currentColor;
  }

  &__code-two-icon {
    height: calc(15 * var(--unit));
    width: calc(15 * var(--unit));

    transform: translate(calc(32 * var(--unit)), calc(-8 * var(--unit)));

    fill: currentColor;
  }

  &__code-three-icon {
    height: calc(15 * var(--unit));
    width: calc(15 * var(--unit));

    transform: translate(calc(-30 * var(--unit)), calc(10 * var(--unit)));

    fill: currentColor;
  }

  &__accompany {
    &--1 {
      @extend .changeTranslate;

      width: calc(30 * var(--unit));
      height: calc(30 * var(--unit));

      background-color: rgba($color-c, 0.5);

      border-radius: 50%;

      top: 9999px;
      left: 9999px;

      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: calc(3 * var(--unit));

      color: rgba($color-white, 0.5);

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: calc(60 * var(--unit));
        height: calc(30 * var(--unit));

        background-color: rgba($color-c, 0.4);

        left: calc(15 * var(--unit));
      }
    }

    &--2 {
      @extend .changeTranslate;

      width: calc(25 * var(--unit));
      height: calc(25 * var(--unit));

      background-color: rgba($color-d, 0.7);

      border-radius: 50%;

      top: 9999px;
      left: 9999px;

      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: calc(3 * var(--unit));

      color: rgba($color-c, 0.6);

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: calc(60 * var(--unit));
        height: calc(25 * var(--unit));

        background-color: rgba($color-d, 0.7);

        right: calc(12.5 * var(--unit));
      }
    }

    &--3 {
      @extend .changeTranslate;
      font-size: calc(2 * var(--unit));

      padding: 0 calc(3 * var(--unit));

      color: rgba($color: $color-grey-light-1, $alpha: 0.9);
      background-color: rgba($color: $color-c, $alpha: 0.5);

      width: calc(70 * var(--unit));

      top: 9999px;
      left: 9999px;

      white-space: pre;
    }

    &--4 {
      @extend .changeTranslate;
      color: rgba($color: $color-d, $alpha: 0.7);
      background-color: rgba($color: $color-c, $alpha: 0.5);

      width: calc(50 * var(--unit));
      height: calc(50 * var(--unit));

      top: 9999px;
      left: 9999px;

      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: inherit;
        height: calc(5 * var(--unit));

        background-color: rgba($color-c, 0.4);

        top: 0;
        right: 0;
      }

      &::after {
        content: '>_';
        display: block;

        font-size: calc(4 * var(--unit));
        color: $color-white;
        position: absolute;

        top: calc(8 * var(--unit));
        left: calc(5 * var(--unit));
      }
    }
  }

  &__bg-img {
    &--1 {
      @extend .changeTranslate;
      background-image: url(../assets/images/header-photo-1.jpg);

      width: calc(75 * var(--unit));
      height: calc(70 * var(--unit));

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      top: 9999px;
      left: 9999px;

      opacity: 0.95;
    }

    &--2 {
      @extend .changeTranslate;
      background-image: linear-gradient(to bottom left, transparent, rgba($color-grey-dark-3, 0.9)),
        url(../assets/images/header-photo-2.jpg);

      width: calc(100 * var(--unit));
      height: calc(60 * var(--unit));

      background-position: top left;
      background-repeat: no-repeat;
      background-size: cover;

      top: 9999px;
      left: 9999px;

      opacity: 0.85;
    }

    &--3 {
      @extend .changeTranslate;
      background-image: linear-gradient(rgba($color-black, 0.3), rgba($color-black, 0.3)),
        url(../assets/images/header-photo-3.jpg);

      @supports (-webkit-filter: blur(1px)) or (filter: blur(1px)) {
        background-image: url(../assets/images/header-photo-3.jpg);
        filter: blur(calc(0.32 * var(--unit))) contrast(70%) brightness(110%);
        -webkit-filter: blur(calc(0.32 * var(--unit))) contrast(70%) brightness(110%);
      }

      width: calc(75 * var(--unit));
      height: calc(65 * var(--unit));

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      top: 9999px;
      left: 9999px;

      opacity: 0.95;
    }

    &--4 {
      @extend .changeTranslate;
      background-image: url(../assets/images/header-photo-4.jpg);

      width: calc(80 * var(--unit));
      height: calc(60 * var(--unit));

      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;

      top: 9999px;
      left: 9999px;

      opacity: 1;
    }
  }

  &__speaker-icon {
    height: calc(24 * var(--unit));
    width: calc(24 * var(--unit));

    fill: currentColor;
  }

  &__globe-two-icon {
    height: calc(25 * var(--unit));
    width: calc(25 * var(--unit));
    display: block;

    transform: translate(calc(-52.5 * var(--unit)), calc(8 * var(--unit)));

    fill: rgba($color-d, 0.5);
  }

  &__code-one-icon {
    height: calc(12 * var(--unit));
    width: calc(12 * var(--unit));
    display: block;

    transform: translate(calc(-6 * var(--unit)), calc(18 * var(--unit)));

    fill: currentColor;
  }

  &__code-four-icon {
    height: calc(15 * var(--unit));
    width: calc(15 * var(--unit));
    display: block;

    transform: translate(calc(-25 * var(--unit)), calc(-6 * var(--unit)));

    fill: currentColor;
  }

  &__spacefiller {
    &--1 {
      @extend .changeTranslate;

      width: calc(40 * var(--unit));
      height: calc(60 * var(--unit));
      padding-left: calc(5 * var(--unit));

      top: 9999px;
      left: 9999px;

      background-color: rgba($color-d, 0.4);
      color: rgba($color-white, 0.5);

      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &--2 {
      @extend .changeTranslate;

      top: 9999px;
      left: 9999px;

      color: rgba($color-c, 0.5);

      display: flex;
      align-items: center;
      justify-content: flex-start;

      &::before {
        content: '';
        display: block;
        width: calc(60 * var(--unit));
        height: calc(25 * var(--unit));

        background-color: rgba($color-c, 0.7);
        transform: translate(calc(20 * var(--unit)), calc(8 * var(--unit)));
      }
    }

    &--3 {
      @extend .changeTranslate;

      top: 9999px;
      left: 9999px;

      width: calc(35 * var(--unit));
      height: calc(35 * var(--unit));

      background-color: rgba($color-c, 0.5);
      color: $color-d;

      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--4 {
      @extend .changeTranslate;

      top: 9999px;
      left: 9999px;

      width: calc(50 * var(--unit));
      height: calc(50 * var(--unit));

      background-color: rgba($color-d, 0.5);
      color: rgba($color-d, 0.7);

      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
