// .u-center-text {
//   text-align: center !important;
// }

// .u-margin-bottom-small {
//   margin-bottom: 1.5rem !important;
// }
// .u-margin-bottom-medium {
//   margin-bottom: 4rem !important;

//   @include respond(tab-port) {
//     margin-bottom: 3rem !important;
//   }
// }
// .u-margin-bottom-big {
//   margin-bottom: 8rem !important;

//   @include respond(tab-port) {
//     margin-bottom: 5rem !important;
//   }
// }

// .u-margin-top-big {
//   margin-top: 8rem !important;
// }
// .u-margin-top-huge {
//   margin-top: 10rem !important;
// }

.scroll-view-shrink {
  width: var(--main-body-change-size, var(--main-body-shrink-size)) !important;
}

.navigation-move {
  transform: translateX(var(--side-drawer-width)) !important;
}

.smooth-animation--1 {
  transition: all 0.5s ease-out;
}

.smooth-animation--2 {
  transition: all calc((1 - var(--f)) * 0.5s) ease-out;
}

.smooth-animation--3 {
  transition: all calc(var(--f) * 0.5s) ease-out;
}
